<div #carouselContainer class="carousel-container">
    <ng-container *ngFor="let number of valuesArray; let i = index">
        <mat-card class="slide-card" [ngClass]="{'slide-card-principal': index === i}" id="{{'card' + i}}">
            {{ number }}
        </mat-card>
    </ng-container>
    <div class="buttons-container">
        <button [disabled]="isInTheStart()" mat-fab class="button button-left" [ngClass]="{'button-left-disabled': isInTheStart()}" (click)="scrollLeft()">
            <mat-icon class="icon-button icon-button-left" [ngClass]="{'icon-button-left-disabled': isInTheStart()}">chevron_left</mat-icon>
        </button>
        <button [disabled]="isInTheEnd()" mat-fab class="button button-right" [ngClass]="{'button-right-disabled': isInTheEnd()}" (click)="scrollRight()">
            <mat-icon class="icon-button icon-button-right" [ngClass]="{'icon-button-right-disabled': isInTheEnd()}">chevron_right</mat-icon>
        </button>
    </div>
</div> 
