:host ::ng-deep mat-toolbar {
    background-color: transparent;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-width: 1px !important;
    color: transparent;
    opacity: 0;
}

.primary-section {
    height: 768px;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 1340px;


    .header  {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        height: 104px;
        color: black;
        width: 100%;
        min-width: 1340px;
        

        .logo {
            display: block;
            margin-left: 50px;
            width: 163px;
            height: 163px;
            border: 1px none orange;
        }


        .menu {
            width: 48%;
            display: flex;
            justify-content: flex-end;
            gap: 38px;
            font-family: 'Rubik', sans-serif;
            font-size: 12px;
            border: 1px none yellow;
            font-weight: 500;

            .menu-button {
                color: white;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
            }


        }

    }


    .primary-section-color {
        width: 65%;
        height: 100%;
        background: radial-gradient(farthest-side at -64% 7%, #0014C7, #0C2B96, #092B54);

        .container-banner-text {
            display: flex;
            flex-direction: column;
            margin-top: 135px;
            margin-left: 211px;

            .banner-text {
                width: 413px;
                font-family: Rubik;
                font-weight: 900;
                font-size: 50px;
                line-height: 59px;
    
                color: #FFFFFF;
            }

            .banner-subtitle-text {
                width: 581px;
                font-family: Rubik;
                font-size: 14px;
                color: #D9D9D9;
                margin-top: 44px;
            }
        }
    }

    .primary-section-image {
        width: 35%;
        height: 100%;
        background-color: #095426;
    }

    .search-field {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 500px;
        left: 211px;
        width: 56%;
        min-width: 764px;
        height: 55px;
        background: white;
        padding: 10px;

        ::ng-deep .mat-select-arrow {
            border-left: 15px solid transparent !important;
            border-right: none !important;
            border-top: 15px solid transparent !important;
            border-image-source: url('/assets/arrow_down.svg') !important;
            border-image-repeat: stretch !important;
        }

        .select-type-property {
            width: 150px;
            height: 100%;
        }

        .divider {
            margin: 0 5px;
        }

        .search-form-field {
            width: 100%;
        }

        .search-buttom {
            width: 176px;
            background-color: #A16800;
            border-radius: 0;
            box-shadow: 3px 3px 4px -2px #888888;
            color: white;
            font-family: Rubik, sans-serif;
            font-size: 14px;
            font-weight: 500;
        }

    }


    .login-button {
        background-color: white;
        border-radius: 20px;
        width: 70;
        height: 35;
        color: #16365D;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
    }


}

.popular-propertys-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 768px;
    min-width: 1340px;
    overflow-x: hidden;

    .background-box {
        display: flex;
        justify-content: center;
        width: 1212px;
        height: 611px;
        background-color: #FFF4E6;
        border-radius: 25px;
        margin-top: 45px;
        

        .popular-propertys-section-title {
            font-size: 48px;
            font-family: 'Rufina', serif;
            color: #A16800;
            margin-top: 30px;
        }
        
    }

    .carousel {
        position: absolute;
        width: 115%;
        top: 300px;
    }

}