<!-- PRIMARY SECTION -->
<section class="primary-section">

    <!-- NAVBAR -->
    <header>
        <mat-toolbar class="header">
            <mat-toolbar-row>
                <img src="/assets/a674660e563f4e73a3c04a780026b85e.png" alt="Logo Perfect Home" class="logo">
                <div class="menu">
                    <button mat-button class="menu-button">Home</button>
                    <button mat-button class="menu-button">Serviços</button>
                    <button mat-button class="menu-button">Sobre</button>
                    <button mat-button class="menu-button">Contato</button>
                    <button mat-button class="login-button">Login</button>
    
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>
    <!-- /NAVBAR -->

    <div class="primary-section-color">

        <!-- BANNER -->
        <div class="container-banner-text">
            <div class="banner-text">
                <p>Encontre o imovel perfeito para voce</p>
            </div>

            <div class="banner-subtitle-text">
                <p>
                    Suspendisse eleifend orci justo. Mauris at ligula vitae sem mollis lacinia. 
                    Morbi a gravida enim. 
                    Integer consequat augue ac risus imperdiet, id finibus nulla tempus.
                </p>
            </div>
        </div>
        <!-- /BANNER -->
        
    </div>
    <img src="/assets/image1.jpeg" class="primary-section-image">

    <div class="search-field">
        <mat-form-field appearance="outline" class="select-type-property">
            <mat-label>Tipo</mat-label>
            <mat-select>
                <mat-option>-- None --</mat-option>
                <mat-option value="option1">Option De cor 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <mat-form-field appearance="outline" class="search-form-field">
            <input matInput placeholder="Procure por uma cidade, bairro ou código do imóvel">
        </mat-form-field>
        <button mat-button class="search-buttom">Pesquisar</button>
    </div>
        
</section>
<!-- /PRIMARY SECTION -->

<!-- POPULAR SECTION -->
<section class="popular-propertys-section">
    
    <div class="background-box">
        <p class="popular-propertys-section-title">Imóveis mais vistos</p>
    </div>

    <app-corousel [valuesArray]="items" class="carousel"></app-corousel>

    
</section>
<!-- /POPULAR SECTION -->

<!-- INFORMATION SECTION -->
<section class="information-section">
    <div class="our-services-container">
        
        <div class="services-card">
            <div class="service-card">
                <mat-icon class=service-card-icon>payments</mat-icon>
                <p class="service-card-title">Compra e Venda</p>
                <p class="service-card-content">
                    A compra/venda do seu imovel com os melhores profissionais 
                </p>
                
            </div>
            <div class="service-card">
                <mat-icon class=service-card-icon>event</mat-icon>
                <p class="service-card-title">Compra e Venda</p>
                <p class="service-card-content">
                    A compra/venda do seu imovel com os melhores profissionais 
                </p>
                
            </div>
            <div class="service-card">
                <mat-icon class=service-card-icon>schedule</mat-icon>
                <p class="service-card-title">Compra e Venda</p>
                <p class="service-card-content">
                    A compra/venda do seu imovel com os melhores profissionais 
                </p>
                
            </div>
        </div>
        <div class="services-information">
                <p class="services-information-subtitle">Nossos Serviços</p>
                <p class="services-information-title">
                    Tenha muitos beneficios a partir dos nossos serviços
                </p>
                <p class="services-information-content">
                    Quando voce usa nossos serviços voce ganhara muitos befinicios todos os meses
                </p>
                <button mat-stroked-button class="read-more-button">Leia mais</button>
        </div>
       
    </div>
    <div class="about-us-container">
        <div class="about-us-information">
                <p class="about-us-information-subtitle">Sobre Nós</p>
                <p class="about-us-information-title">
                    Temos um cuidado especial com os imoveis dos nossos clientes
                </p>
                <p class="about-us-information-content">
                    Nossos clientes tem total confianca em nossos servicos e com as melhores recomendacoes
                </p>
                <button mat-stroked-button class="read-more-button">Leia mais</button>
        </div>
        <div class="about-us-image">
            <div class="background-box">
            </div>
            <div class="image-box"></div>
        </div>
    </div>
</section>
<!-- /INFORMATION SECTION -->

<!-- INFORMATION SECTION -->
<section class="information-section">
    <div class="our-services-container">
        
        <div class="services-card">
            <div class="service-card">
                <mat-icon class=service-card-icon>payments</mat-icon>
                <p class="service-card-title">Compra e Venda</p>
                <p class="service-card-content">
                    A compra/venda do seu imovel com os melhores profissionais 
                </p>
                
            </div>
            <div class="service-card">
                <mat-icon class=service-card-icon>event</mat-icon>
                <p class="service-card-title">Compra e Venda</p>
                <p class="service-card-content">
                    A compra/venda do seu imovel com os melhores profissionais 
                </p>
                
            </div>
            <div class="service-card">
                <mat-icon class=service-card-icon>schedule</mat-icon>
                <p class="service-card-title">Compra e Venda</p>
                <p class="service-card-content">
                    A compra/venda do seu imovel com os melhores profissionais 
                </p>
                
            </div>
        </div>
        <div class="services-information">
                <p class="services-information-subtitle">Nossos Serviços</p>
                <p class="services-information-title">
                    Tenha muitos beneficios a partir dos nossos serviços
                </p>
                <p class="services-information-content">
                    Quando voce usa nossos serviços voce ganhara muitos befinicios todos os meses
                </p>
                <button mat-stroked-button class="read-more-button">Leia mais</button>
        </div>
       
    </div>
    <div class="about-us-container">
        <div class="about-us-information">
                <p class="about-us-information-subtitle">Sobre Nós</p>
                <p class="about-us-information-title">
                    Temos um cuidado especial com os imoveis dos nossos clientes
                </p>
                <p class="about-us-information-content">
                    Nossos clientes tem total confianca em nossos servicos e com as melhores recomendacoes
                </p>
                <button mat-stroked-button class="read-more-button">Leia mais</button>
        </div>
        <div class="about-us-image">
            <div class="background-box">
            </div>
            <div class="image-box"></div>
        </div>
    </div>
</section>
<!-- /INFORMATION SECTION -->