<!-- PRIMARY SECTION -->
<section class="primary-section">
    <div class="primary-section-color">
        <!-- NAVBAR -->
        <mat-toolbar class="header">
            <mat-toolbar-row>
                <img src="/assets/a674660e563f4e73a3c04a780026b85e.png" alt="Logo Perfect Home" class="logo">
                <div class="menu">
                    <button mat-button class="menu-button">Home</button>
                    <button mat-button class="menu-button">Serviços</button>
                    <button mat-button class="menu-button">Sobre</button>
                    <button mat-button class="menu-button">Contato</button>
                </div>
                <button mat-button class="login-button">Login</button>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- /NAVBAR -->
        
    </div>
    <img src="/assets/image1.jpeg" class="primary-section-image">
        
</section>
<!-- /PRIMARY SECTION -->