<!-- PRIMARY SECTION -->
<section class="primary-section">

    <!-- NAVBAR -->
    <header>
        <mat-toolbar class="header">
            <mat-toolbar-row>
                <img src="/assets/a674660e563f4e73a3c04a780026b85e.png" alt="Logo Perfect Home" class="logo">
                <div class="menu">
                    <button mat-button class="menu-button">Home</button>
                    <button mat-button class="menu-button">Serviços</button>
                    <button mat-button class="menu-button">Sobre</button>
                    <button mat-button class="menu-button">Contato</button>
                    <button mat-button class="login-button">Login</button>
    
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>
    <!-- /NAVBAR -->

    <div class="primary-section-color">

        <!-- BANNER -->
        <div class="container-banner-text">
            <div class="banner-text">
                <p>Encontre o imovel perfeito para voce</p>
            </div>

            <div class="banner-subtitle-text">
                <p>
                    Suspendisse eleifend orci justo. Mauris at ligula vitae sem mollis lacinia. 
                    Morbi a gravida enim. 
                    Integer consequat augue ac risus imperdiet, id finibus nulla tempus.
                </p>
            </div>
        </div>
        <!-- /BANNER -->
        
    </div>
    <img src="/assets/image1.jpeg" class="primary-section-image">

    <div class="search-field">
        <mat-form-field appearance="outline" class="select-type-property">
            <mat-label>Tipo</mat-label>
            <mat-select>
                <mat-option>-- None --</mat-option>
                <mat-option value="option1">Option De cor 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <mat-form-field appearance="outline" class="search-form-field">
            <input matInput placeholder="Procure por uma cidade, bairro ou código do imóvel">
        </mat-form-field>
        <button mat-button class="search-buttom">Pesquisar</button>
    </div>
        
</section>
<!-- /PRIMARY SECTION -->

<section class="popular-propertys-section">
    
    <div class="background-box">
        <p class="popular-propertys-section-title">Imóveis mais vistos</p>
    </div>

    <app-corousel class="carousel"></app-corousel>

    
</section>
